In [16]:
%load_ext autoreload
%autoreload 2
from typing import Set, List, Callable
import sys 
sys.path.append('.')
import pickle
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
from tqdm import tqdm

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [17]:
# mpl.rc('font', size=14)

# Count Analysis: 
## How many bad models (on target) are there in our experiments based on a specific measure?

**Measure**: Count how often a model achieves less than X percent of the source accuracy on target.

**Best result:** We have lots of bad models in our experiment and our method IWA performs well in this setting.  


**Procedure:**
1. load results table

### Load preprocessed results of all experiments
To perform this analysis, we must at first load all results. 
For an explanation of how to best preprocess, store and load experiment results, have a look at this repo: [https://github.com/maximilianmbeck/viz](https://github.com/maximilianmbeck/viz).

In [18]:
# load all results
results_file = './data/iclr_all_results_dfs.p'
with open(results_file, 'rb') as f:
    # results are stored as a nested dictionary
    results_dict = pickle.load(f)
results_dict.keys()

dict_keys(['MINI_DOMAIN_NET', 'WISDM', 'HAR', 'HHAR_SA', 'AMAZON_REVIEWS', 'EEG', 'MOONS'])

### Combine all accuracy tables into one big table

In [19]:
index_tuples = []
acc_df_list = []
for dataset, da_methods_dict in results_dict.items():
    for da_method, result_df_dict in tqdm(da_methods_dict.items(), desc=f'CA for {dataset}'):
        acc_df = result_df_dict['acc_df']
        index_tuples.append((dataset, da_method))
        acc_df_list.append(acc_df)
# combine all in one dataframe
acc_index = pd.MultiIndex.from_tuples(index_tuples, names=['dataset', 'da_method'])
acc_df = pd.concat(acc_df_list, axis=0, keys=acc_index)
acc_df = acc_df.reindex(sorted(acc_df.columns), axis=1)

CA for MINI_DOMAIN_NET: 100%|██████████| 11/11 [00:00<00:00, 182361.04it/s]
CA for WISDM: 100%|██████████| 11/11 [00:00<00:00, 200597.15it/s]
CA for HAR: 100%|██████████| 11/11 [00:00<00:00, 152268.46it/s]
CA for HHAR_SA: 100%|██████████| 11/11 [00:00<00:00, 66194.18it/s]
CA for AMAZON_REVIEWS: 100%|██████████| 11/11 [00:00<00:00, 111712.70it/s]
CA for EEG: 100%|██████████| 11/11 [00:00<00:00, 138550.58it/s]
CA for MOONS: 100%|██████████| 11/11 [00:00<00:00, 172154.27it/s]

In [20]:
acc_df

                                                                   0  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source  0.971487
                                                    target  0.557377
                                               2    source  0.979633
                                                    target  0.590164
                                               3    source  0.963340
...                                                              ...
MOONS           DSAN      0_src-1_tgt          1    target  1.000000
                                               2    source  1.000000
                                                    target  0.988571
                                               3    source  1.000000
                                                    target  0.982857

                                                              0.0001  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source  0.973523
                                                    target  0.573770
                                               2    source  0.963340
                                                    target  0.540984
                                               3    source  0.957230
...                                                              ...
MOONS           DSAN      0_src-1_tgt          1    target  1.000000
                                               2    source  1.000000
                                                    target  1.000000
                                               3    source  1.000000
                                                    target  0.994286

                                                               0.001  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source  0.947047
                                                    target  0.565574
                                               2    source  0.955193
                                                    target  0.590164
                                               3    source  0.967413
...                                                              ...
MOONS           DSAN      0_src-1_tgt          1    target  0.977143
                                               2    source  1.000000
                                                    target  1.000000
                                               3    source  1.000000
                                                    target  1.000000

                                                                0.01  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source  0.926680
                                                    target  0.663934
                                               2    source  0.955193
                                                    target  0.540984
                                               3    source  0.973523
...                                                              ...
MOONS           DSAN      0_src-1_tgt          1    target  0.994286
                                               2    source  1.000000
                                                    target  1.000000
                                               3    source  1.000000
                                                    target  0.994286

                                                                0.05  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source       NaN
                                                    target       NaN
                                               2    source       NaN
                                                    target       NaN
                                               3    source       NaN
...                                                              ...
MOONS           DSAN      0_src-1_tgt          1    target  0.982857
                                               2    source  1.000000
                                                    target  1.000000
                                               3    source  1.000000
                                                    target  1.000000

                                                                 0.1  0.25  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source  0.947047   NaN
                                                    target  0.606557   NaN
                                               2    source  0.967413   NaN
                                                    target  0.565574   NaN
                                               3    source  0.963340   NaN
...                                                              ...   ...
MOONS           DSAN      0_src-1_tgt          1    target  1.000000   1.0
                                               2    source  1.000000   1.0
                                                    target  1.000000   1.0
                                               3    source  1.000000   1.0
                                                    target  1.000000   1.0

                                                            0.5  0.75  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source  NaN   NaN
                                                    target  NaN   NaN
                                               2    source  NaN   NaN
                                                    target  NaN   NaN
                                               3    source  NaN   NaN
...                                                         ...   ...
MOONS           DSAN      0_src-1_tgt          1    target  1.0   1.0
                                               2    source  1.0   1.0
                                                    target  1.0   1.0
                                               3    source  1.0   1.0
                                                    target  1.0   1.0

                                                                   1  ...  \
dataset         da_method domains              seed domain            ...
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source  0.942974  ...
                                                    target  0.565574  ...
                                               2    source  0.963340  ...
                                                    target  0.565574  ...
                                               3    source  0.973523  ...
...                                                              ...  ...
MOONS           DSAN      0_src-1_tgt          1    target  1.000000  ...
                                               2    source  1.000000  ...
                                                    target  1.000000  ...
                                               3    source  1.000000  ...
                                                    target  1.000000  ...

                                                                  10    2  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source  0.977597  NaN
                                                    target  0.631148  NaN
                                               2    source  0.957230  NaN
                                                    target  0.590164  NaN
                                               3    source  0.926680  NaN
...                                                              ...  ...
MOONS           DSAN      0_src-1_tgt          1    target  0.977143  1.0
                                               2    source  0.994286  1.0
                                                    target  1.000000  1.0
                                               3    source  1.000000  1.0
                                                    target  0.942857  1.0

                                                                   5  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source  0.965377
                                                    target  0.540984
                                               2    source  0.928717
                                                    target  0.581967
                                               3    source  0.959267
...                                                              ...
MOONS           DSAN      0_src-1_tgt          1    target  1.000000
                                               2    source  1.000000
                                                    target  1.000000
                                               3    source  1.000000
                                                    target  1.000000

                                                                 agg  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source  0.967413
                                                    target  0.606557
                                               2    source  0.965377
                                                    target  0.590164
                                               3    source  0.971487
...                                                              ...
MOONS           DSAN      0_src-1_tgt          1    target  1.000000
                                               2    source  1.000000
                                                    target  1.000000
                                               3    source  1.000000
                                                    target  1.000000

                                                                 dev  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source  0.965377
                                                    target  0.540984
                                               2    source  0.967413
                                                    target  0.565574
                                               3    source  0.973523
...                                                              ...
MOONS           DSAN      0_src-1_tgt          1    target  1.000000
                                               2    source  1.000000
                                                    target  0.988571
                                               3    source  1.000000
                                                    target  0.982857

                                                                 iwv  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source  0.965377
                                                    target  0.540984
                                               2    source  0.967413
                                                    target  0.565574
                                               3    source  0.963340
...                                                              ...
MOONS           DSAN      0_src-1_tgt          1    target  1.000000
                                               2    source  1.000000
                                                    target  0.988571
                                               3    source  1.000000
                                                    target  0.982857

                                                            source_reg  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source    0.981670
                                                    target    0.549180
                                               2    source    0.973523
                                                    target    0.565574
                                               3    source    0.973523
...                                                                ...
MOONS           DSAN      0_src-1_tgt          1    target    1.000000
                                               2    source    1.000000
                                                    target    1.000000
                                               3    source    1.000000
                                                    target    1.000000

                                                            target_confidence_reg  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source               0.969450
                                                    target               0.581967
                                               2    source               0.971487
                                                    target               0.590164
                                               3    source               0.965377
...                                                                           ...
MOONS           DSAN      0_src-1_tgt          1    target               1.000000
                                               2    source               1.000000
                                                    target               1.000000
                                               3    source               1.000000
                                                    target               1.000000

                                                            target_majority_reg  \
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source             0.963340
                                                    target             0.573770
                                               2    source             0.973523
                                                    target             0.581967
                                               3    source             0.965377
...                                                                         ...
MOONS           DSAN      0_src-1_tgt          1    target             1.000000
                                               2    source             1.000000
                                                    target             1.000000
                                               3    source             1.000000
                                                    target             1.000000

                                                            target_majority_vote
dataset         da_method domains              seed domain
MINI_DOMAIN_NET HoMM      real_src-clipart_tgt 1    source              0.959267
                                                    target              0.598361
                                               2    source              0.963340
                                                    target              0.598361
                                               3    source              0.965377
...                                                                          ...
MOONS           DSAN      0_src-1_tgt          1    target              1.000000
                                               2    source              1.000000
                                                    target              1.000000
                                               3    source              1.000000
                                                    target              1.000000

[2508 rows x 21 columns]

In [21]:
acc_df.dropna()

                                                    0    0.0001     0.001  \
dataset da_method domains       seed domain
WISDM   HoMM      18_src-23_tgt 1    source  1.000000  1.000000  1.000000
                                     target  0.800000  0.766667  0.633333
                                2    source  1.000000  1.000000  1.000000
                                     target  0.700000  0.800000  0.666667
                                3    source  1.000000  0.981132  1.000000
...                                               ...       ...       ...
MOONS   DSAN      0_src-1_tgt   1    target  1.000000  1.000000  0.977143
                                2    source  1.000000  1.000000  1.000000
                                     target  0.988571  1.000000  1.000000
                                3    source  1.000000  1.000000  1.000000
                                     target  0.982857  0.994286  1.000000

                                                 0.01      0.05       0.1  \
dataset da_method domains       seed domain
WISDM   HoMM      18_src-23_tgt 1    source  1.000000  1.000000  1.000000
                                     target  0.700000  0.733333  0.733333
                                2    source  1.000000  1.000000  1.000000
                                     target  0.766667  0.733333  0.666667
                                3    source  1.000000  1.000000  1.000000
...                                               ...       ...       ...
MOONS   DSAN      0_src-1_tgt   1    target  0.994286  0.982857  1.000000
                                2    source  1.000000  1.000000  1.000000
                                     target  1.000000  1.000000  1.000000
                                3    source  1.000000  1.000000  1.000000
                                     target  0.994286  1.000000  1.000000

                                                 0.25       0.5      0.75  \
dataset da_method domains       seed domain
WISDM   HoMM      18_src-23_tgt 1    source  1.000000  1.000000  1.000000
                                     target  0.600000  0.666667  0.566667
                                2    source  1.000000  1.000000  1.000000
                                     target  0.566667  0.566667  0.600000
                                3    source  1.000000  1.000000  1.000000
...                                               ...       ...       ...
MOONS   DSAN      0_src-1_tgt   1    target  1.000000  1.000000  1.000000
                                2    source  1.000000  1.000000  1.000000
                                     target  1.000000  1.000000  1.000000
                                3    source  1.000000  1.000000  1.000000
                                     target  1.000000  1.000000  1.000000

                                                    1  ...        10  \
dataset da_method domains       seed domain            ...
WISDM   HoMM      18_src-23_tgt 1    source  1.000000  ...  0.981132
                                     target  0.666667  ...  0.666667
                                2    source  1.000000  ...  1.000000
                                     target  0.600000  ...  0.633333
                                3    source  1.000000  ...  1.000000
...                                               ...  ...       ...
MOONS   DSAN      0_src-1_tgt   1    target  1.000000  ...  0.977143
                                2    source  1.000000  ...  0.994286
                                     target  1.000000  ...  1.000000
                                3    source  1.000000  ...  1.000000
                                     target  1.000000  ...  0.942857

                                                    2         5  agg  \
dataset da_method domains       seed domain
WISDM   HoMM      18_src-23_tgt 1    source  0.981132  0.981132  1.0
                                     target  0.566667  0.566667  0.7
                                2    source  1.000000  1.000000  1.0
                                     target  0.533333  0.633333  0.7
                                3    source  0.981132  0.981132  1.0
...                                               ...       ...  ...
MOONS   DSAN      0_src-1_tgt   1    target  1.000000  1.000000  1.0
                                2    source  1.000000  1.000000  1.0
                                     target  1.000000  1.000000  1.0
                                3    source  1.000000  1.000000  1.0
                                     target  1.000000  1.000000  1.0

                                                  dev       iwv  source_reg  \
dataset da_method domains       seed domain
WISDM   HoMM      18_src-23_tgt 1    source  1.000000  1.000000    1.000000
                                     target  0.800000  0.800000    0.766667
                                2    source  1.000000  1.000000    1.000000
                                     target  0.700000  0.700000    0.733333
                                3    source  1.000000  1.000000    1.000000
...                                               ...       ...         ...
MOONS   DSAN      0_src-1_tgt   1    target  1.000000  1.000000    1.000000
                                2    source  1.000000  1.000000    1.000000
                                     target  0.988571  0.988571    1.000000
                                3    source  1.000000  1.000000    1.000000
                                     target  0.982857  0.982857    1.000000

                                             target_confidence_reg  \
dataset da_method domains       seed domain
WISDM   HoMM      18_src-23_tgt 1    source               1.000000
                                     target               0.800000
                                2    source               1.000000
                                     target               0.766667
                                3    source               1.000000
...                                                            ...
MOONS   DSAN      0_src-1_tgt   1    target               1.000000
                                2    source               1.000000
                                     target               1.000000
                                3    source               1.000000
                                     target               1.000000

                                             target_majority_reg  \
dataset da_method domains       seed domain
WISDM   HoMM      18_src-23_tgt 1    source             1.000000
                                     target             0.766667
                                2    source             1.000000
                                     target             0.766667
                                3    source             1.000000
...                                                          ...
MOONS   DSAN      0_src-1_tgt   1    target             1.000000
                                2    source             1.000000
                                     target             1.000000
                                3    source             1.000000
                                     target             1.000000

                                             target_majority_vote
dataset da_method domains       seed domain
WISDM   HoMM      18_src-23_tgt 1    source                   1.0
                                     target                   0.7
                                2    source                   1.0
                                     target                   0.7
                                3    source                   1.0
...                                                           ...
MOONS   DSAN      0_src-1_tgt   1    target                   1.0
                                2    source                   1.0
                                     target                   1.0
                                3    source                   1.0
                                     target                   1.0

[2178 rows x 21 columns]

In [22]:
acc_df.columns, acc_df.index

(Index(['0', '0.0001', '0.001', '0.01', '0.05', '0.1', '0.25', '0.5', '0.75',
        '1', '1.5', '10', '2', '5', 'agg', 'dev', 'iwv', 'source_reg',
        'target_confidence_reg', 'target_majority_reg', 'target_majority_vote'],
       dtype='object'),
 MultiIndex([('MINI_DOMAIN_NET', 'HoMM',   'real_src-clipart_tgt', '1', ...),
             ('MINI_DOMAIN_NET', 'HoMM',   'real_src-clipart_tgt', '1', ...),
             ('MINI_DOMAIN_NET', 'HoMM',   'real_src-clipart_tgt', '2', ...),
             ('MINI_DOMAIN_NET', 'HoMM',   'real_src-clipart_tgt', '2', ...),
             ('MINI_DOMAIN_NET', 'HoMM',   'real_src-clipart_tgt', '3', ...),
             ('MINI_DOMAIN_NET', 'HoMM',   'real_src-clipart_tgt', '3', ...),
             ('MINI_DOMAIN_NET', 'HoMM', 'real_src-infograph_tgt', '1', ...),
             ('MINI_DOMAIN_NET', 'HoMM', 'real_src-infograph_tgt', '1', ...),
             ('MINI_DOMAIN_NET', 'HoMM', 'real_src-infograph_tgt', '2', ...),
             ('MINI_DOMAIN_NET', 'HoMM', 'real_src-infograph_tgt', '2', ...),
             ...
             (          'MOONS', 'DANN',            '0_src-1_tgt', '2', ...),
             (          'MOONS', 'DANN',            '0_src-1_tgt', '2', ...),
             (          'MOONS', 'DANN',            '0_src-1_tgt', '3', ...),
             (          'MOONS', 'DANN',            '0_src-1_tgt', '3', ...),
             (          'MOONS', 'DSAN',            '0_src-1_tgt', '1', ...),
             (          'MOONS', 'DSAN',            '0_src-1_tgt', '1', ...),
             (          'MOONS', 'DSAN',            '0_src-1_tgt', '2', ...),
             (          'MOONS', 'DSAN',            '0_src-1_tgt', '2', ...),
             (          'MOONS', 'DSAN',            '0_src-1_tgt', '3', ...),
             (          'MOONS', 'DSAN',            '0_src-1_tgt', '3', ...)],
            names=['dataset', 'da_method', 'domains', 'seed', 'domain'], length=2508))

In [23]:
# acc_df.style

### Count number of bad models
**Criteria**: A model is bad if it reaches less than X percent of source performance on target

**Procedure**: 
For counting the bad models, we must iterate over every experiment (2 rows at once, as each experiment yields a source and a target accuracy row).
1. Iterate over experiments (grouped by seed)
2. Take all individual model results (skip NaN values)
3. Apply bad model criterion, column-wise (pass all rows). Assign 1 if model is bad, 0 otherwise.
4. Keep target accuracy of baselines as columnss

In [24]:
# parameters
individual_models = ['0', '0.0001', '0.001', '0.01', '0.05', '0.1', '0.25', '0.5', '0.75', '1', '1.5', '10', '2', '5']
aggregation_methods = [
    'agg', 'dev', 'iwv', 'source_reg', 'target_confidence_reg', 'target_majority_reg', 'target_majority_vote'
]
model_counts = ['n_bad_models', 'n_models', 'frac_bad_models']

aggregation_specifier = {
    'n_bad_models': 'sum',
    'n_models': 'sum',
    'frac_bad_models': 'mean',
    'agg': 'mean',
    'dev': 'mean',
    'iwv': 'mean',
    'source_reg': 'mean',
    'target_confidence_reg': 'mean',
    'target_majority_reg': 'mean',
    'target_majority_vote': 'mean'
}

In [25]:
def count_models_based_on_treshold_criterion(
    acc_df: pd.DataFrame,
    frac_threshold: float,
    individual_models: List[str] = [
        '0', '0.0001', '0.001', '0.01', '0.05', '0.1', '0.25', '0.5', '0.75', '1', '1.5', '10', '2', '5'
    ],
    aggregation_methods: List[str] = [
        'agg', 'dev', 'iwv', 'source_reg', 'target_confidence_reg', 'target_majority_reg', 'target_majority_vote'
    ]
) -> pd.DataFrame:
    from functools import partial

    def bad_model_filter(source_target_acc: pd.Series,
                         source_only_target_accuracy: float,
                         performance_percentage_threshold: float = 0.95) -> float:
        """Returns 1 if model is bad, 0 otherwise.

        Args:
            source_target_acc (pd.Series): source and target performance.
            source_only_target_accuracy (float): source only accuracy
            performance_percentage_threshold (float, optional): Threshold to determine when model is bad: target < `performance_percentage_threshold`*source. Defaults to 0.8.

        Returns:
            float: 1. if model is bad, 0 otherwise
        """
        assert len(source_target_acc) == 2
        if source_target_acc.isna().any():
            return float('NaN')
        return float(source_target_acc[1] < performance_percentage_threshold * source_only_target_accuracy)

    index_tuples = []
    data_rows = []
    for index, df in acc_df.groupby(level=['dataset', 'da_method', 'domains', 'seed']):
        source_only_target_accuracy = df.xs(key='target', level='domain')['0'].item()
        criterion = partial(bad_model_filter, performance_percentage_threshold=frac_threshold, source_only_target_accuracy=source_only_target_accuracy)
        # find bad models
        bad_models = df[individual_models].apply(criterion, axis=0)
        # count bad models
        n_bad_models = bad_models.sum()
        # count total models (num non NaN)
        n_models = bad_models.notna().sum()
        counts = pd.Series({
            'n_bad_models': n_bad_models,
            'n_models': n_models,
            'frac_bad_models': float(n_bad_models) / n_models
        })
        # select target accuracy of aggregation methods
        target_acc_agg = df[aggregation_methods].xs(key='target', level='domain').iloc[0]  # select only acc

        dr = pd.concat([bad_models, counts, target_acc_agg])
        index_tuples.append(index)
        data_rows.append(dr)

    index = pd.MultiIndex.from_tuples(index_tuples, names=['dataset', 'da_method', 'domains', 'seed'])
    df = pd.DataFrame(data=data_rows, index=index)
    return df

In [26]:
res_df = count_models_based_on_treshold_criterion(acc_df, frac_threshold=0.6)

In [27]:
res_df = count_models_based_on_treshold_criterion(acc_df, frac_threshold=0.6)
display(res_df.groupby(level=['dataset']).agg(aggregation_specifier).style)
res_df.agg(aggregation_specifier)

n_bad_models               297.000000
n_models                 16566.000000
frac_bad_models              0.017473
agg                          0.755707
dev                          0.712857
iwv                          0.726249
source_reg                   0.730947
target_confidence_reg        0.750579
target_majority_reg          0.750873
target_majority_vote         0.752597
dtype: float64

In [28]:
res_df = count_models_based_on_treshold_criterion(acc_df, frac_threshold=0.7)
display(res_df.groupby(level=['dataset']).agg(aggregation_specifier).style)
res_df.agg(aggregation_specifier)

n_bad_models               551.000000
n_models                 16566.000000
frac_bad_models              0.032411
agg                          0.755707
dev                          0.712857
iwv                          0.726249
source_reg                   0.730947
target_confidence_reg        0.750579
target_majority_reg          0.750873
target_majority_vote         0.752597
dtype: float64

In [29]:
frac_threshold=0.8
res_df = count_models_based_on_treshold_criterion(acc_df, frac_threshold=frac_threshold)
print(f'Frac threshold:{}')
display(res_df.groupby(level=['dataset']).agg(aggregation_specifier).style)
res_df.agg(aggregation_specifier)

n_bad_models              1038.000000
n_models                 16566.000000
frac_bad_models              0.061133
agg                          0.755707
dev                          0.712857
iwv                          0.726249
source_reg                   0.730947
target_confidence_reg        0.750579
target_majority_reg          0.750873
target_majority_vote         0.752597
dtype: float64

In [30]:
res_df = count_models_based_on_treshold_criterion(acc_df, frac_threshold=0.85)
display(res_df.groupby(level=['dataset']).agg(aggregation_specifier).style)
res_df.agg(aggregation_specifier)

n_bad_models              1437.000000
n_models                 16566.000000
frac_bad_models              0.084800
agg                          0.755707
dev                          0.712857
iwv                          0.726249
source_reg                   0.730947
target_confidence_reg        0.750579
target_majority_reg          0.750873
target_majority_vote         0.752597
dtype: float64

In [31]:
res_df = count_models_based_on_treshold_criterion(acc_df, frac_threshold=0.9)
display(res_df.groupby(level=['dataset']).agg(aggregation_specifier).style)
res_df.agg(aggregation_specifier)

n_bad_models              2027.000000
n_models                 16566.000000
frac_bad_models              0.119987
agg                          0.755707
dev                          0.712857
iwv                          0.726249
source_reg                   0.730947
target_confidence_reg        0.750579
target_majority_reg          0.750873
target_majority_vote         0.752597
dtype: float64

In [32]:
# save table
# import dataframe_image as dfi
# dfi.export(mean_corr_per_dataset_dam, 'mean_corr_per_dataset_dam.png', dpi=300)